body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    color: aquamarine;
}

ul{
    border: 2px;
    border-color: azure;
    box-shadow: 1px;
}

li {
    font-style: italic;
    text-align: center;
    background-color: beige;
}

p{
    color: darkcyan;
}